<settings>
<!--     <setting propertyKey="@Properties.color" title="@Strings.ColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>                        
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
        </settingConfig>
    </setting>
 -->    

    <setting propertyKey="@Properties.LoadLastViewState" title="@Strings.LoadLastScreen">
        <settingConfig type="boolean" />
    </setting>
</settings>