<settings>
	<setting propertyKey="@Properties.ColorScheme" title="@Strings.ColorSchemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorSchemeBlack</listEntry>                        
            <listEntry value="1">@Strings.ColorSchemeWhite</listEntry>
        </settingConfig>
    </setting>    

    <setting propertyKey="@Properties.LoadLastViewState" title="@Strings.LoadLastScreen">
        <settingConfig type="boolean" />
    </setting>
</settings>